# EDA

## Listing of Tables

- books

- authors

- series

- genres

- interactions

- book_id_map

---

In [25]:
import gzip
import csv
import json
import re
import os
import sys
import numpy as np
import pandas as pd
from collections import defaultdict

dir = {your file directory here}

In [6]:
# General function to load in GZ archive
def load_data(file_name, head = 500):
    count = 0
    data = []
    with gzip.open(file_name) as fin:
        for l in fin:
            d = json.loads(l)
            count += 1
            data.append(d)
            
            # break if reaches the 100th line
            if (head is not None) and (count > head):
                break
    return data

In [9]:
# Count json.gz rows
def count_gzj(file):
    count = 0
    with gzip.open(file) as fin:
        for l in fin:
            count += 1
    return count

---

## Books

This needs some processing (see below)

In [11]:
print(count_gzj(os.path.join(dir, 'goodreads_books.json.gz')))

2360655

In [12]:
books = load_data(os.path.join(dir, 'goodreads_books.json.gz'), 0)
print(books[0].keys())

dict_keys(['isbn', 'text_reviews_count', 'series', 'country_code', 'language_code', 'popular_shelves', 'asin', 'is_ebook', 'average_rating', 'kindle_asin', 'similar_books', 'description', 'format', 'link', 'authors', 'publisher', 'num_pages', 'publication_day', 'isbn13', 'publication_month', 'edition_information', 'publication_year', 'url', 'image_url', 'book_id', 'ratings_count', 'work_id', 'title', 'title_without_series'])

In [13]:
booksDf = pd.DataFrame(books)
booksDf = booksDf.drop(['popular_shelves', 'asin', 'kindle_asin', 'is_ebook', 'link', 'edition_information', 'url'], axis=1)
booksDf

,isbn,text_reviews_count,series,country_code,language_code,average_rating,similar_books,description,format,authors,...,publication_day,isbn13,publication_month,publication_year,image_url,book_id,ratings_count,work_id,title,title_without_series
0,0312853122,1,[],US,,4.00,[],,Paperback,"[{'author_id': '604031', 'role': ''}]",...,1,9780312853129,9,1984,https://images.gr-assets.com/books/1310220028m...,5333265,3,5400751,W.C. Fields: A Life on Film,W.C. Fields: A Life on Film

In [15]:
# Problem Fields
booksDf[['series','similar_books','authors']]

  series similar_books                                authors
0     []            []  [{'author_id': '604031', 'role': ''}]

### Modify Books with more usable fields for 'series', 'similar_books' and 'authors'

In [17]:
def load_books(file_name, head = 500):
    count = 0
    data = []
    with gzip.open(file_name) as fin:
        for l in fin:
            d = json.loads(l)
            d['series'] = ','.join([str(i) for i in d['series']])
            d['similar_books'] = ','.join([str(i) for i in d['similar_books']])
            temp = d['authors']
            d.pop('authors')
            dd = defaultdict(list)
            print(temp)
            for di in temp:
                for k, v in di.items():
                    dd[k].append(v)
            for k, v in dd.items():
                d[k] = ','.join([str(i) for i in v])
            count += 1
            data.append(d)
            
            # break if reaches the 100th line
            if (head is not None) and (count > head):
                break
    return data

In [19]:
books_mod = load_books(os.path.join(dir, 'goodreads_books.json.gz'), 0)
books_mod

[{'author_id': '604031', 'role': ''}]

[{'isbn': '0312853122',
  'text_reviews_count': '1',
  'series': '',
  'country_code': 'US',
  'language_code': '',
  'popular_shelves': [{'count': '3', 'name': 'to-read'},
   {'count': '1', 'name': 'p'},
   {'count': '1', 'name': 'collection'},
   {'count': '1', 'name': 'w-c-fields'},
   {'count': '1', 'name': 'biography'}],
  'asin': '',
  'is_ebook': 'false',
  'average_rating': '4.00',
  'kindle_asin': '',
  'similar_books': '',
  'description': '',
  'format': 'Paperback',
  'link': 'https://www.goodreads.com/book/show/5333265-w-c-fields',
  'publisher': "St. Martin's Press",
  'num_pages': '256',
  'publication_day': '1',
  'isbn13': '9780312853129',
  'publication_month': '9',
  'edition_information': '',
  'publication_year': '1984',
  'url': 'https://www.goodreads.com/book/show/5333265-w-c-fields',
  'image_url': 'https://images.gr-assets.com/books/1310220028m/5333265.jpg',
  'book_id': '5333265',
  'ratings_count': '3',
  'work_id': '5400751',
  'title': 'W.C. Fields: A Life on Film',
  'title_without_series': 'W.C. Fields: A Life on Film',
  'author_id': '604031',
  'role': ''}]

In [20]:
booksModDf = pd.DataFrame(books_mod)
booksModDf = booksModDf.drop(['popular_shelves', 'asin', 'kindle_asin', 'is_ebook', 'link', 'edition_information', 'url'], axis=1)
booksModDf

,isbn,text_reviews_count,series,country_code,language_code,average_rating,similar_books,description,format,publisher,...,publication_month,publication_year,image_url,book_id,ratings_count,work_id,title,title_without_series,author_id,role
0,0312853122,1,,US,,4.00,,,Paperback,St. Martin's Press,...,9,1984,https://images.gr-assets.com/books/1310220028m...,5333265,3,5400751,W.C. Fields: A Life on Film,W.C. Fields: A Life on Film,604031,

In [21]:
# Fixed Fields
booksModDf[['series', 'similar_books', 'author_id', 'role']]

  series similar_books author_id role
0                         604031

---

### Authors

In [4]:
authors = load_data(os.path.join(dir, 'goodreads_book_authors.json.gz'), 0)
authors

[{'average_rating': '3.98',
  'author_id': '604031',
  'text_reviews_count': '7',
  'name': 'Ronald J. Fields',
  'ratings_count': '49'}]

In [22]:
print(count_gzj(os.path.join(dir, 'goodreads_book_authors.json.gz')))

829529

In [5]:
authorsDf = pd.DataFrame(authors)
authorsDf

  average_rating author_id text_reviews_count              name ratings_count
0           3.98    604031                  7  Ronald J. Fields            49

---

### Series

In [6]:
series = load_data(os.path.join(dir, 'goodreads_book_series.json.gz'), 0)
series

[{'numbered': 'true',
  'note': '',
  'description': '',
  'title': 'Sun Wolf and Starhawk',
  'series_works_count': '9',
  'series_id': '189911',
  'primary_work_count': '3'}]

In [24]:
print(count_gzj(os.path.join(dir, 'goodreads_book_series.json.gz')))

400390

In [7]:
seriesDf = pd.DataFrame(series)
seriesDf

,numbered,note,description,title,series_works_count,series_id,primary_work_count
0,true,,,Sun Wolf and Starhawk,9,189911,3

---

### Genres

This needs some processing

In [10]:
genres = load_data(os.path.join(dir, 'goodreads_book_genres_initial.json.gz'), 2)
#Tricky Example
genres[2]

{'book_id': '7327624',
 'genres': {'fantasy, paranormal': 31,
  'fiction': 8,
  'mystery, thriller, crime': 1,
  'poetry': 1}}

In [58]:
print(count_gzj(os.path.join(dir, 'goodreads_book_genres_initial.json.gz')))

2360655

In [14]:
#Normalize
norm = pd.json_normalize(genres[2])
norm

,book_id,"genres.fantasy, paranormal",genres.fiction,"genres.mystery, thriller, crime",genres.poetry
0,7327624,31,8,1,1

In [23]:
#Melt
melted = pd.melt(norm, id_vars='book_id', var_name='genre', value_name='count')
melted['genre'] = melted['genre'].str.slice_replace(stop=7)
melted

   book_id                     genre  count
0  7327624       fantasy, paranormal     31
1  7327624                   fiction      8
2  7327624  mystery, thriller, crime      1
3  7327624                    poetry      1

---

### Interactions (Detailed/Genre Specific)

In [25]:
interactions = load_data(os.path.join(dir, 'goodreads_interactions_fantasy_paranormal.json.gz'), 0)
interactions

[{'user_id': '8842281e1d1347389f2ab93d60773d4d',
  'book_id': '19161852',
  'review_id': '4443cb6883624c3772625ef5b7b4e138',
  'is_read': False,
  'rating': 0,
  'review_text_incomplete': '',
  'date_added': 'Fri Sep 08 10:44:24 -0700 2017',
  'date_updated': 'Fri Sep 08 10:44:24 -0700 2017',
  'read_at': '',
  'started_at': ''}]

In [28]:
interactionsDf = pd.DataFrame(interactions)
interactionsDf = interactionsDf.drop(['review_text_incomplete', 'date_added', 'date_updated', 'read_at', 'started_at'], axis=1)
interactionsDf

,user_id,book_id,review_id,is_read,rating
0,8842281e1d1347389f2ab93d60773d4d,19161852,4443cb6883624c3772625ef5b7b4e138,False,0

---

### Interactions

Need to use the csv maps

In [39]:
ints = pd.read_csv(os.path.join(dir, 'goodreads_interactions.csv'), nrows=3)
ints

   user_id  book_id  is_read  rating  is_reviewed
0        0      948        1       5            0
1        0      947        1       5            1
2        0      946        1       5            0

In [ ]:
ints.isnull().any()

In [27]:
with open(os.path.join(dir, 'goodreads_interactions.csv')) as f:
    count = 0
    fcsv = csv.reader(f)
    headers = next(fcsv)
    print(headers)
    for row in fcsv:
        count += 1
    print(count)

['user_id', 'book_id', 'is_read', 'rating', 'is_reviewed']
228648342

### User Map

In [12]:
userMap = pd.read_csv(os.path.join(dir, 'user_id_map.csv'), nrows=3)
userMap

   user_id_csv                           user_id
0            0  8842281e1d1347389f2ab93d60773d4d
1            1  72fb0d0087d28c832f15776b0d936598
2            2  ab2923b738ea3082f5f3efcbbfacb218

In [28]:
with open(os.path.join(dir, 'user_id_map.csv')) as f:
    count = 0
    fcsv = csv.reader(f)
    headers = next(fcsv)
    print(headers)
    for row in fcsv:
        count += 1
    print(count)

['user_id_csv', 'user_id']
876145

### book_id_Map

In [34]:
bookMap = pd.read_csv(os.path.join(dir, 'book_id_map.csv'))
bookMap

         book_id_csv   book_id
0                  0  34684622
1                  1  34536488
2                  2  34017076
3                  3     71730
4                  4  30422361
...              ...       ...
2360645      2360645  19517100
2360646      2360646  18597299
2360647      2360647  18584882
2360648      2360648  18518801
2360649      2360649  18518607

[2360650 rows x 2 columns]

In [36]:
bookMap.isnull().any()

book_id_csv    False
book_id        False
dtype: bool

In [37]:
bookMap.dtypes

book_id_csv    int64
book_id        int64
dtype: object

In [29]:
with open(os.path.join(dir, 'book_id_map.csv')) as f:
    count = 0
    fcsv = csv.reader(f)
    headers = next(fcsv)
    print(headers)
    for row in fcsv:
        count += 1
    print(count)

['book_id_csv', 'book_id']
2360650

---

## Reviews

In [15]:
reviews = load_data(os.path.join(dir, 'goodreads_reviews_fantasy_paranormal.json.gz'), 0)
reviews

[{'user_id': '8842281e1d1347389f2ab93d60773d4d',
  'book_id': '18245960',
  'review_id': 'dfdbb7b0eb5a7e4c26d59a937e2e5feb',
  'rating': 5,
  'review_text': 'This is a special book. It started slow for about the first third, then in the middle third it started to get interesting, then the last third blew my mind. This is what I love about good science fiction - it pushes your thinking about where things can go. \n It is a 2015 Hugo winner, and translated from its original Chinese, which made it interesting in just a different way from most things I\'ve read. For instance the intermixing of Chinese revolutionary history - how they kept accusing people of being "reactionaries", etc. \n It is a book about science, and aliens. The science described in the book is impressive - its a book grounded in physics and pretty accurate as far as I could tell. Though when it got to folding protons into 8 dimensions I think he was just making stuff up - interesting to think about though. \n But what would happen if our SETI stations received a message - if we found someone was out there - and the person monitoring and answering the signal on our side was disillusioned? That part of the book was a bit dark - I would like to think human reaction to discovering alien civilization that is hostile would be more like Enders Game where we would band together. \n I did like how the book unveiled the Trisolaran culture through the game. It was a smart way to build empathy with them and also understand what they\'ve gone through across so many centuries. And who know a 3 body problem was an unsolvable math problem? But I still don\'t get who made the game - maybe that will come in the next book. \n I loved this quote: \n "In the long history of scientific progress, how many protons have been smashed apart in accelerators by physicists? How many neutrons and electrons? Probably no fewer than a hundred million. Every collision was probably the end of the civilizations and intelligences in a microcosmos. In fact, even in nature, the destruction of universes must be happening at every second--for example, through the decay of neutrons. Also, a high-energy cosmic ray entering the atmosphere may destroy thousands of such miniature universes...."',
  'date_added': 'Sun Jul 30 07:44:10 -0700 2017',
  'date_updated': 'Wed Aug 30 00:00:26 -0700 2017',
  'read_at': 'Sat Aug 26 12:05:52 -0700 2017',
  'started_at': 'Tue Aug 15 13:23:18 -0700 2017',
  'n_votes': 28,
  'n_comments': 1}]

In [26]:
reviewsDF = pd.DataFrame(reviews)
reviewsDF = reviewsDF.drop(['date_added', 'date_updated', 'read_at', 'started_at'], axis=1)
reviewsDF

,user_id,book_id,review_id,rating,review_text,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,18245960,dfdbb7b0eb5a7e4c26d59a937e2e5feb,5,This is a special book. It started slow for ab...,28,1

---

## Methodology for loading data into Database

- Can either convert JSON to CSV
- Can load JSON

Both would need a processing step

In [85]:
import dask.dataframe as dd

### Books to CSV

In [56]:
def load_jc(file_name, chunk=10):
    total = 0
    count = 0
    data = []
    with gzip.open(file_name) as fin:
        for l in fin:
            if total < 20:
                d = json.loads(l)
                count += 1
                total += 1
                data.append(d)

                # break if reaches the 100th line
                if (chunk is not None) and (count > chunk - 1):
                    df = pd.DataFrame(data)
                    count = 0
                    data.clear()
                    print(df)
            else:
                break
    return total

In [57]:
load_jc(os.path.join(dir, 'goodreads_books.json.gz'))

         isbn text_reviews_count    series country_code language_code  \
0  0312853122                  1        []           US
1  0743509986                  6        []           US
2                              7  [189911]           US           eng
3  0743294297               3282        []           US           eng
4  0850308712                  5        []           US
5  1599150603                  7        []           US
6  0425040887                  4        []           US
7  1934876569                  6  [151854]           US
8                              4        []           US
9  0922915113                 39        []           US

                                     popular_shelves        asin is_ebook  \
0  [{'count': '3', 'name': 'to-read'}, {'count': ...                false
1  [{'count': '2634', 'name': 'to-read'}, {'count...                false
2  [{'count': '58', 'name': 'to-read'}, {'count':...  B00071IKUY    false
3  [{'count': '7615', 'name': 'to-read'}, {'count...                false
4  [{'count': '32', 'name': 'to-read'}, {'count':...                false
5  [{'count': '56', 'name': 'to-read'}, {'count':...                false
6  [{'count': '14', 'name': 'to-read'}, {'count':...                false
7  [{'count': '515', 'name': 'to-read'}, {'count'...                false
8  [{'count': '4', 'name': 'to-read'}, {'count': ...                 true
9  [{'count': '961', 'name': 'to-read'}, {'count'...                false

  average_rating kindle_asin  ... publication_month edition_information  \
0           4.00              ...                 9
1           3.23  B000FC0PBC  ...                10            Abridged
2           4.03              ...                     Book Club Edition
3           3.49  B002ENBLOK  ...                 7
4           3.40              ...
5           4.13  B00DU10PUG  ...                 9
6           4.38              ...                 3
7           4.22              ...                 3
8           3.86              ...                 5
9           3.81  B00AFYVB8Q  ...                 4

  publication_year                                                url  \
0             1984  https://www.goodreads.com/book/show/5333265-w-...
1             2001  https://www.goodreads.com/book/show/1333909.Go...
2             1987  https://www.goodreads.com/book/show/7327624-th...
3             2009  https://www.goodreads.com/book/show/6066819-be...
4                   https://www.goodreads.com/book/show/287140.Run...
5             2006  https://www.goodreads.com/book/show/287141.The...
6             1979  https://www.goodreads.com/book/show/378460.The...
7             2009  https://www.goodreads.com/book/show/6066812-al...
8             2017  https://www.goodreads.com/book/show/34883016-p...
9             2000  https://www.goodreads.com/book/show/287149.The...

                                           image_url   book_id ratings_count  \
0  https://images.gr-assets.com/books/1310220028m...   5333265             3
1  https://s.gr-assets.com/assets/nophoto/book/11...   1333909            10
2  https://images.gr-assets.com/books/1304100136m...   7327624           140
3  https://s.gr-assets.com/assets/nophoto/book/11...   6066819         51184
4  https://images.gr-assets.com/books/1413219371m...    287140            15
5  https://s.gr-assets.com/assets/nophoto/book/11...    287141            46
6  https://s.gr-assets.com/assets/nophoto/book/11...    378460            12
7  https://images.gr-assets.com/books/1316637798m...   6066812            98
8  https://images.gr-assets.com/books/1493525974m...  34883016             5
9  https://images.gr-assets.com/books/1328768789m...    287149           986

    work_id                                              title  \
0   5400751                        W.C. Fields: A Life on Film
1   1323437                                        Good Harbor
2   8948723  The Unschooled Wizard (Sun Wolf and Starhawk, ...
3   6243154                               Best Friends Forever
4    278577  Runic Astrology: Starcraft and Timekeeping in ...
5    278578                      The Aeneid for Boys and Girls
6    368291                              The Wanting of Levine
7    701117  All's Fairy in Love and War (Avalon: Web of Ma...
8  56135087                  Playmaker: A Venom Series Novella
9    278586                               The Devil's Notebook

                                title_without_series
0                        W.C. Fields: A Life on Film
1                                        Good Harbor
2  The Unschooled Wizard (Sun Wolf and Starhawk, ...
3                               Best Friends Forever
4  Runic Astrology: Starcraft and Timekeeping in ...
5                      The Aeneid for Boys and Girls
6                              The Wanting of Levine
7  All's Fairy in Love and War (Avalon: Web of Ma...
8                  Playmaker: A Venom Series Novella
9                               The Devil's Notebook

[10 rows x 29 columns]
         isbn text_reviews_count     series country_code language_code  \
0  184737297X                 15   [169353]           US
1                             60  [1052227]           US           eng
2  0413675106                  2  [1070125]           US
3                              3         []           US           ger
4  555118000X                 19         []           US           eng
5  0800759494               2885         []           US
6  0842379428                566         []           US           eng
7  037583687X                615         []           US
8  0590417010                193         []           US           eng
9                             22         []           US           eng

                                     popular_shelves        asin is_ebook  \
0  [{'count': '159', 'name': 'to-read'}, {'count'...                false
1  [{'count': '54', 'name': 'currently-reading'},...  B01NCIKAQX     true
2  [{'count': '2979', 'name': 'to-read'}, {'count...                false
3  [{'count': '22', 'name': 'to-read'}, {'count':...                false
4  [{'count': '3488', 'name': 'to-read'}, {'count...                false
5  [{'count': '9381', 'name': 'to-read'}, {'count...                false
6  [{'count': '6393', 'name': 'to-read'}, {'count...                false
7  [{'count': '4248', 'name': 'to-read'}, {'count...                false
8  [{'count': '450', 'name': 'to-read'}, {'count'...                false
9  [{'count': '70', 'name': 'to-read'}, {'count':...                false

  average_rating kindle_asin  ... publication_month edition_information  \
0           3.93  B007YLTG5I  ...                 4
1           4.33  B01NCIKAQX  ...
2           3.81              ...
3           2.22              ...                 6
4           3.82              ...
5           3.91  B00B853QPM  ...
6           4.26  B000FCKCJC  ...
7           3.98  B0010SEMV4  ...                 7
8           4.43  B017RORXNI  ...                 9
9           4.04  B00KLGBERQ  ...                 3

  publication_year                                                url  \
0             2009  https://www.goodreads.com/book/show/6066814-cr...
1                   https://www.goodreads.com/book/show/33394837-t...
2                   https://www.goodreads.com/book/show/89371.The_...
3             2016  https://www.goodreads.com/book/show/28575155-s...
4                   https://www.goodreads.com/book/show/89373.The_...
5                   https://www.goodreads.com/book/show/89375.90_M...
6                    https://www.goodreads.com/book/show/89376.Heaven
7             2006  https://www.goodreads.com/book/show/89377.Penn...
8             1995  https://www.goodreads.com/book/show/89378.Dog_...
9             2014  https://www.goodreads.com/book/show/21401188-g...

                                           image_url   book_id ratings_count  \
0  https://images.gr-assets.com/books/1328724803m...   6066814           186
1  https://images.gr-assets.com/books/1493114742m...  33394837           269
2  https://s.gr-assets.com/assets/nophoto/book/11...     89371            11
3  https://images.gr-assets.com/books/1452886176m...  28575155             9
4  https://s.gr-assets.com/assets/nophoto/book/11...     89373            77
5  https://s.gr-assets.com/assets/nophoto/book/11...     89375         68157
6  https://images.gr-assets.com/books/1406508230m...     89376          7345
7  https://images.gr-assets.com/books/1320470906m...     89377          6949
8  https://images.gr-assets.com/books/1360057676m...     89378          1331
9  https://images.gr-assets.com/books/1395067717m...  21401188            72

    work_id                                              title  \
0   6243149          Crowner Royal (Crowner John Mystery, #13)
1  54143148            The House of Memory (Pluto's Snitch #2)
2  41333541                                   The Te Of Piglet
3  48735929              Spirit Lake - Die Legende des Wendigo
4   1080201                        The Bonfire of the Vanities
5   2957021  90 Minutes in Heaven: A True Story of Death an...
6     86257                                             Heaven
7     86258                                  Penny from Heaven
8     86259                                         Dog Heaven
9  40699074                                   Glimmering Light

                                title_without_series
0          Crowner Royal (Crowner John Mystery, #13)
1            The House of Memory (Pluto's Snitch #2)
2                                   The Te Of Piglet
3              Spirit Lake - Die Legende des Wendigo
4                        The Bonfire of the Vanities
5  90 Minutes in Heaven: A True Story of Death an...
6                                             Heaven
7                                  Penny from Heaven
8                                         Dog Heaven
9                                   Glimmering Light

[10 rows x 29 columns]

20

In [110]:
def lw_jcBooks(file_name, chunk=10, nrows=-1):
    csv_file = os.path.join(dir, 'books.csv')
    total = 0
    count = 0
    data = []
    with gzip.open(file_name) as fin, open(csv_file, 'w', encoding='utf-8', newline='\n') as csv:
        header = True
        for l in fin:
            if nrows == -1:
                d = json.loads(l)
                count += 1
                total += 1
                data.append(d)

                if (chunk is not None) and (count > chunk - 1):
                    df = pd.DataFrame(data)
                    count = 0
                    data.clear()
                    df = df.drop(['popular_shelves', 'asin', 'kindle_asin', 'is_ebook', 'link', 'edition_information', 'url', 'description', 'image_url', 'series', 'authors', 'similar_books'], axis=1)
                    df.to_csv(csv, header=header, index=0)
                    header = False
            else:
                if total < nrows:
                    d = json.loads(l)
                    count += 1
                    total += 1
                    data.append(d)

                    if (chunk is not None) and (count > chunk - 1):
                        df = pd.DataFrame(data)
                        count = 0
                        data.clear()
                        df = df.drop(['popular_shelves', 'asin', 'kindle_asin', 'is_ebook', 'link', 'edition_information', 'url', 'description', 'image_url', 'series', 'authors', 'similar_books'], axis=1)
                        df.to_csv(csv, header=header, index=0)
                        header = False
                else:
                    break
    return total

In [111]:
lw_jcBooks(os.path.join(dir, 'goodreads_books.json.gz'), chunk=1000)

2360655

In [86]:
df_books = pd.read_csv(os.path.join(dir, 'books.csv'))

In [87]:
df_books.dtypes

isbn                     object
text_reviews_count      float64
country_code             object
language_code            object
average_rating          float64
format                   object
publisher                object
num_pages               float64
publication_day         float64
isbn13                   object
publication_month       float64
publication_year        float64
book_id                   int64
ratings_count           float64
work_id                 float64
title                    object
title_without_series     object
dtype: object

In [88]:
df_books.isna().any()

isbn                     True
text_reviews_count       True
country_code             True
language_code            True
average_rating           True
format                   True
publisher                True
num_pages                True
publication_day          True
isbn13                   True
publication_month        True
publication_year         True
book_id                 False
ratings_count            True
work_id                  True
title                    True
title_without_series     True
dtype: bool

In [89]:
df_books.isna().sum()

isbn                     983098
text_reviews_count          524
country_code                490
language_code           1059845
average_rating              524
format                   646578
publisher                654176
num_pages                763912
publication_day         1024157
isbn13                   780044
publication_month        882714
publication_year         599462
book_id                       0
ratings_count               524
work_id                     524
title                        11
title_without_series         11
dtype: int64

In [90]:
df_books.isna().sum() * 100 / len(df_books)

isbn                    41.656695
text_reviews_count       0.022203
country_code             0.020763
language_code           44.908686
average_rating           0.022203
format                  27.397373
publisher               27.719322
num_pages               32.369153
publication_day         43.396483
isbn13                  33.052712
publication_month       37.403136
publication_year        25.400932
book_id                  0.000000
ratings_count            0.022203
work_id                  0.022203
title                    0.000466
title_without_series     0.000466
dtype: float64

In [199]:
def lw_jcBooksInfo(file_name, chunk=10, nrows=-1):
    csv_file = os.path.join(dir, 'book_info.csv')
    total = 0
    count = 0
    data = []
    with gzip.open(file_name) as fin, open(csv_file, 'w', encoding='utf-8', newline='\n') as csvf:
        header = True
        for l in fin:
            if nrows == -1:
                d = json.loads(l)
                keysToExtract = ['book_id', 'work_id', 'description', 'link', 'url', 'image_url']
                dm = {key: d[key] for key in keysToExtract}
                count += 1
                total += 1
                data.append(dm)

                if (chunk is not None) and (count > chunk - 1):
                    df = pd.DataFrame(data)
                    df['description'] = df['description'].str.replace('\n', '\\n')
                    count = 0
                    data.clear()
                    df.to_csv(csvf, header=header, index=0)
                    header = False
            else:
                if total < nrows:
                    d = json.loads(l)
                    keysToExtract = ['book_id', 'work_id', 'description', 'link', 'url', 'image_url']
                    dm = {key: d[key] for key in keysToExtract}
                    count += 1
                    total += 1
                    data.append(dm)

                    if (chunk is not None) and (count > chunk - 1):
                        df = pd.DataFrame(data)
                        df['description'] = df['description'].str.replace('\n', '\\n')
                        count = 0
                        data.clear()
                        df.to_csv(csvf, header=header, index=0)
                        header = False
                else:
                    break
    return total

In [201]:
lw_jcBooksInfo(os.path.join(dir, 'goodreads_books.json.gz'), 1000)

2360655

In [178]:
def show():
    with gzip.open(os.path.join(dir, 'goodreads_books.json.gz')) as fin:
            for l in fin:
                d = json.loads(l)
                break
    return d

In [198]:
with open(os.path.join(dir, 'book_info.csv')) as f, open(os.path.join(dir, 'test.txt'), 'w', encoding='utf-8', newline='\n') as tex:
    fc = csv.reader(f)
    for i in range(5):
        tex.write((next(f)))

In [ ]:
dd_bi = dd.read_csv(os.path.join(dir, 'book_info.csv'), dtype={'book_id': str, 'work_id': str, 'description': str, 'link': str, 'url': str, 'image_url': str}, engine='python', escapechar='~')
dd_bi

In [ ]:
dd_bi.isna().sum().compute()

---

In [76]:
ddf_interactions = dd.read_csv(os.path.join(dir, 'goodreads_interactions.csv'))
ddf_interactions

Dask DataFrame Structure:
               user_id book_id is_read rating is_reviewed
npartitions=68
                 int64   int64   int64  int64       int64
                   ...     ...     ...    ...         ...
...                ...     ...     ...    ...         ...
                   ...     ...     ...    ...         ...
                   ...     ...     ...    ...         ...
Dask Name: read-csv, 68 tasks

In [78]:
ddf_interactions.dtypes

user_id        int64
book_id        int64
is_read        int64
rating         int64
is_reviewed    int64
dtype: object

In [80]:
ddf_interactions.describe().compute()

            user_id       book_id       is_read        rating   is_reviewed
count  2.286483e+08  2.286483e+08  2.286483e+08  2.286483e+08  2.286483e+08
mean   2.500636e+05  2.015756e+05  4.904090e-01  1.801340e+00  7.093491e-02
std    1.712713e+05  3.448677e+05  4.999080e-01  2.072672e+00  2.567161e-01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    1.125510e+05  1.354100e+04  0.000000e+00  0.000000e+00  0.000000e+00
50%    2.332090e+05  5.984000e+04  1.000000e+00  3.000000e+00  0.000000e+00
75%    3.564060e+05  2.645935e+05  1.000000e+00  5.000000e+00  0.000000e+00
max    8.761440e+05  2.360649e+06  1.000000e+00  5.000000e+00  1.000000e+00

In [75]:
ddf_interactions.isna().any().compute()

user_id        False
book_id        False
is_read        False
rating         False
is_reviewed    False
dtype: bool

---

### Authors to CSV

In [91]:
def lw_jcAuthors(file_name, chunk=10, nrows=-1):
    csv_file = os.path.join(dir, 'authors.csv')
    total = 0
    count = 0
    data = []
    with gzip.open(file_name) as fin, open(csv_file, 'w', encoding='utf-8', newline='\n') as csv:
        header = True
        for l in fin:
            if nrows == -1:
                d = json.loads(l)
                count += 1
                total += 1
                data.append(d)

                if (chunk is not None) and (count > chunk - 1):
                    df = pd.DataFrame(data)
                    count = 0
                    data.clear()
                    df.to_csv(csv, header=header, index=0)
                    header = False
            else:
                if total < nrows:
                    d = json.loads(l)
                    count += 1
                    total += 1
                    data.append(d)

                    if (chunk is not None) and (count > chunk - 1):
                        df = pd.DataFrame(data)
                        count = 0
                        data.clear()
                        df.to_csv(csv, header=header, index=0)
                        header = False
                else:
                    break
    return total

In [93]:
lw_jcAuthors(os.path.join(dir, 'goodreads_book_authors.json.gz'), chunk = 1000)

829529

In [94]:
df_authors = pd.read_csv(os.path.join(dir, 'authors.csv'))

In [95]:
df_authors.dtypes

average_rating        float64
author_id               int64
text_reviews_count      int64
name                   object
ratings_count           int64
dtype: object

In [96]:
df_authors.isna().any()

average_rating        False
author_id             False
text_reviews_count    False
name                   True
ratings_count         False
dtype: bool

In [98]:
df_authors.isna().sum()

average_rating        0
author_id             0
text_reviews_count    0
name                  5
ratings_count         0
dtype: int64

In [99]:
df_authors.describe()

       average_rating     author_id  text_reviews_count  ratings_count
count   829000.000000  8.290000e+05       829000.000000   8.290000e+05
mean         3.844858  5.750882e+06          106.929556   1.596299e+03
std          0.602844  5.129887e+06         1770.788657   4.481097e+04
min          0.000000  3.000000e+00            0.000000   0.000000e+00
25%          3.580000  9.322970e+05            2.000000   8.000000e+00
50%          3.900000  4.951601e+06            6.000000   3.100000e+01
75%          4.170000  7.837560e+06           20.000000   1.320000e+02
max          5.000000  1.734337e+07       448570.000000   1.853272e+07

---

### Series to CSV

In [100]:
def lw_jcSeries(file_name, chunk=10, nrows=-1):
    csv_file = os.path.join(dir, 'series.csv')
    total = 0
    count = 0
    data = []
    with gzip.open(file_name) as fin, open(csv_file, 'w', encoding='utf-8', newline='\n') as csv:
        header = True
        for l in fin:
            if nrows == -1:
                d = json.loads(l)
                count += 1
                total += 1
                data.append(d)

                if (chunk is not None) and (count > chunk - 1):
                    df = pd.DataFrame(data)
                    count = 0
                    data.clear()
                    df.to_csv(csv, header=header, index=0)
                    header = False
            else:
                if total < nrows:
                    d = json.loads(l)
                    count += 1
                    total += 1
                    data.append(d)

                    if (chunk is not None) and (count > chunk - 1):
                        df = pd.DataFrame(data)
                        count = 0
                        data.clear()
                        df.to_csv(csv, header=header, index=0)
                        header = False
                else:
                    break
    return total

In [101]:
lw_jcSeries(os.path.join(dir, 'goodreads_book_series.json.gz'))

400390

In [102]:
df_series = pd.read_csv(os.path.join(dir, 'series.csv'))

In [103]:
df_series.dtypes

numbered                bool
note                  object
description           object
title                 object
series_works_count     int64
series_id              int64
primary_work_count     int64
dtype: object

In [104]:
df_series.isna().sum()

numbered                   0
note                  375111
description           249371
title                      6
series_works_count         0
series_id                  0
primary_work_count         0
dtype: int64

In [105]:
df_series.describe()

       series_works_count     series_id  primary_work_count
count       400390.000000  4.003900e+05       400390.000000
mean            21.588149  6.230450e+05           19.771653
std             65.103100  2.944453e+05           63.501377
min            -14.000000  1.443920e+05            0.000000
25%              3.000000  3.637372e+05            3.000000
50%              6.000000  6.158370e+05            5.000000
75%             14.000000  8.775648e+05           12.000000
max            893.000000  1.143859e+06          893.000000